<p id="notice"><%= notice %></p>

    <div class="main-panel">
      <div class="jumbotron jumbotron-sm">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <h1 class="h1"><b><%= @assisted.name %></b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">


        <h3>Dados Pessoais   <%= link_to 'Editar', edit_assisted_path(@assisted), class: 'btn btn-primary btn-sm' %></h3>


        <table class="table table-hover table-sm table-properties">
            <tr style="color:#ff4d4d">
              <th>Observação</th>
              <td><p><%= @assisted.observation %></p></td>
            </tr>
            <tr>
              <th>Sexo</th>
              <td>
                <% if @assisted.gender %>
                  Masculino
                <% else %>
                  Feminino
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Endereço</th>
              <td><%= @assisted.address %></td>
            </tr>
            <tr>
              <th>Nome da mãe</th>
              <td><%= @assisted.name_mother %></td>
            </tr>
            <tr>
              <th>Nome do pai</th>
              <td><%= @assisted.name_father %></td>
            </tr>
            <tr>
              <th>Telefone 1</th>
              <td><%= @assisted.phone1 %></td>
            </tr>
            <tr>
              <th>Telefone 2</th>
              <td><%= @assisted.phone2 %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= @assisted.email %></td>
            </tr>
          </table>

          <%= link_to new_post_path(assisted_id: @assisted.id) do %>
            <button type="button" class="btn btn-primary btn-block">Novo Registro</button>
          <% end %>
          <br>
          <h2>Registros</h2>
          <% if @assisted.posts.any? %>
          <%= @assisted.posts.each do |post| %>
            <div class="container-fluid p-3 my-3 border">
              <h2><%= post.title %></h2>
              <footer>
                Criado por <%= post.user.username %> - ID <%= post.user.id %> em <%= post.formatted_date %>
              </footer>
              <br>
              <pre>
                <%= simple_format(post.body) %>
              </pre>
            </div>
          <% end %>
        <% else %>
          <p>Sem registros</p>
        <% end %>



      </div>




    </div>




  </div>




















































































</body>
