    <div class="main-panel">
      <div class="jumbotron jumbotron-sm">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <h3 class="h1"><b>Busca por registros</b></h3>
            </div>
          </div>
        </div>
      </div>







        <div class="container">
          <div class="right_bar ">
            <div class="tab-content ">
          		<div class="tab-pane fade show active" id="lorem" role="tabpanel">
                <%= form_tag("/posts", method: "get") do %>
                    <div class="form-group">
                      <%= label_tag(:q, "Procurar por:") %>
                      <div class="col-md-8">
                        <%= select_tag "search", options_for_select([ "Assistente", "Título", "Conteúdo" ], params['search']), class: "custom-select" %>
                      </div>
                    </div>
                    <div class="form-group" id="input_search">
                      <%= label_tag(:q, "") %>
                      <div class="col-md-8">
                        <%= text_field_tag :input, value = "#{params['input']}", class: 'form-control', style: 'width:50%;', placeholder: 'Digite a busca' %>
                      </div>
                    </div>
                    <%= submit_tag("Search") %>

                  </div>
                <% end %>

                <% if @posts.present? %>

                <table class="table table-hover table-sm table-properties">
                  <thead>
                    <tr>
                      <th>Título</th>
                      <th>Assistente</th>
                      <th>Usuário</th>
                      <th>Criado em</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @posts.each do |post| %>
                      <tr>
                        <td><%= post.title %></td>
                        <td><%= post.user.username %></td>
                        <td><%= post.assisted.name %></td>
                        <td><%= post.formatted_date %></td>
                        <td><%= link_to 'Show', post %></td>
                        <td><%= link_to 'Edit', edit_post_path(post) %></td>
                        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <% end %>
              </div>
            </div>
          </div>
        </div>



















    </div>




  </div>
