
<div class="jumbotron jumbotron-sm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h1 class="h1"><b><%= @post.assisted.name %></b></h1>
      </div>
    </div>
  </div>
</div>
  <div class="container p-3 my-3 border" style="width:50%;float:center;word-wrap: normal;">
    <h2><%= @post.title %> - Criado por <%= @post.user.username %> em <%= @post.created_at %>
      <% if current_user.admin %>
        <%= link_to 'Editar', edit_post_path(@post), class: 'btn btn-primary btn-sm' %>
      <% end %>
    </h2>
    <footer>
      Criado por <%= @post.user.username %> - ID <%= @post.user.id %> em <%= @post.formatted_date %>
    </footer>
    <br>
    <pre>
      <div style="word-wrap: normal;width: 20px;">
      <%= simple_format(@post.body) %>
      </div>
    </pre>
  </div>

  <style>

  @font-face {
   font-family: 'Coolvetica';
   src: url('/fonts/coolvetica-rg.ttf')
}

  </style>
